#app {
  font-family: "CeraPro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8rem;
}

body {
  margin: 0px;
}
ul {
  padding-inline-start: 1.3rem;
}

a.button{
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.container {
  padding: $container-padding;

  @media (min-width: $desktop-viewport) {
    padding: 30px 100px
  }
}

@font-face {
  font-family: "CeraPro";
  src: url("assets/fonts/CeraPRO-Regular.woff2") format("woff2");
}